<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="header-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" width="250">
    <ion-header-bar class="main-color">
      <h1 class="title center">MM</h1>
    </ion-header-bar>
    <ion-content class="item-content">
      <div class="item item-divider sidebar-divider">주요기능</div>
      <ion-list class="sidebar-item">
        <ion-item menu-close href="#/app/crawl">
          긁어오기
        </ion-item>
        <ion-item menu-close href="#/app/company">
          기업보기
        </ion-item>
        <ion-item menu-close href="#/app/screen">
          선별
        </ion-item>
        <ion-item menu-close href="#/app/portfolio">
          포트폴리오
        </ion-item>
        <ion-item menu-close href="#/app/trade">
          거래
        </ion-item>
      </ion-list>
      <div class="item item-divider sidebar-divider">유저정보</div>
      <ion-list class="sidebar-item">
        <ion-item ng-show="$root.token" menu-close href="#/app/user-infos">
          유저정보
        </ion-item>
        <ion-item ng-show="!$root.token" menu-close href="#/login">
          Login
        </ion-item>
        <ion-item class="item-content" ng-show="$root.token" menu-close ng-controller="LoginController" ng-click="doLogout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
