<ion-view view-title="로그인">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
      </div>
      <button class="button button-full button-dark" style="display: none" type="submit">Log in</button>
    </form>
    <div class="row">
      <div class="col">
        <button class="button button-full button-dark" ng-click="doLogin()">Log in</button>
      </div>
    </div>

  </ion-content>
</ion-view>
