<ion-view view-title="회사정보">
  <ion-content>
    <div layout="row">
      <div class="col-50">
        <i class="icon ion-ios-search-strong"></i><input type="text" ng-model="searchParams.keyword" placeholder="검색어를 입력해주세요" ng-keyup="searchCompany()">
      </div>
      <div class="col-50"></div>
    </div>
    <div class="row header">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
    </div>
    <div class="row" ng-repeat="company in companyList" ng-click="openCompanyDetail(company)">
      <div class="col">{{company.naverName}}</div>
      <div class="col">{{company.dartName}}</div>
      <div class="col">{{company.stockCode}}</div>
    </div>
  </ion-content>
</ion-view>
