<ion-modal-view class="modal-fullscreen">
  <ion-header-bar>
    <h1 class="title">회사정보</h1>
    <div class="buttons">
      <button class="button button-energized" ng-click="closeCompanyDetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
    </div>
    <div class="row">
      <div class="col">{{returnCompany.company.naverName}}</div>
      <div class="col">{{returnCompany.company.dartName}}</div>
      <div class="col">{{returnCompany.company.stockCode}}</div>
    </div>
    <hr>
    <!--기업요약정보-->
    <h4>기업요약 정보</h4>
    <div class="row header">
      <div class="col">자본금</div>
      <div class="col">액면가</div>
      <div class="col">상장주식수</div>
      <div class="col">전화번호</div>
      <div class="col">주소</div>
    </div>
    <div class="row">
      <div class="col">100억원</div>
      <div class="col">500원</div>
      <div class="col">1,000,000</div>
      <div class="col">02-345-6789</div>
      <div class="col">서울시 강남구 역삼동</div>
    </div>
    <hr>
    <h4>Valuation</h4>
    <div class="row header">
      <div class="col">주가</div>
      <div class="col">증감(률)</div>
      <div class="col">PER</div>
      <div class="col">PBR</div>
      <div class="col">PSR</div>
    </div>
    <div class="row">
      <div class="col">{{returnCompany.stock.price}}</div>
      <div class="col">+1,000(+2%)</div>
      <div class="col">15</div>
      <div class="col">1.5</div>
      <div class="col">5.5</div>
    </div>
    <hr>
    <h4>요약재무정보</h4>
    <div class="row header">
      <div class="col"></div>
      <div class="col">2006.12</div>
      <div class="col">2007.12</div>
      <div class="col">2008.12</div>
      <div class="col">2009.12</div>
      <div class="col">2010.12</div>
      <div class="col">2011.12</div>
      <div class="col">2012.12</div>
      <div class="col">2013.12</div>
      <div class="col">2014.12</div>
      <div class="col">2015.12</div>
    </div>
    <div class="row">
      <div class="col">매출액</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">영업이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">법인세차감전이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">당기순이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">자산총계</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">부채총계</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">자본총계</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <hr>
    <h4>재무비율</h4>
    <div class="row header">
      <div class="col"></div>
      <div class="col">2006.12</div>
      <div class="col">2007.12</div>
      <div class="col">2008.12</div>
      <div class="col">2009.12</div>
      <div class="col">2010.12</div>
      <div class="col">2011.12</div>
      <div class="col">2012.12</div>
      <div class="col">2013.12</div>
      <div class="col">2014.12</div>
      <div class="col">2015.12</div>
    </div>
    <div class="row">
      <div class="col">부채비율</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">영업이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">법인세차감전이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">당기순이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">ROE</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">매출액성장률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">영업이익성장률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">당기순이익성장률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익성장률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <hr>
    <h4>분기재무정보</h4>
    <div class="row header">
      <div class="col"></div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">매출액</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{returnCompany.rev}}</div>
    </div>
    <div class="row">
      <div class="col">영업이익</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{returnCompany.oi}}</div>
    </div>
    <div class="row">
      <div class="col">법인세차감전이익</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{returnCompany.bti}}</div>
    </div>
    <div class="row">
      <div class="col">당기순이익</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{returnCompany.ni}}</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{returnCompany.sni}}</div>
    </div>
    <div class="row">
      <div class="col">영업이익률</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{100 * returnCompany.oi / returnCompany.rev | number:1}}</div>
    </div>
    <div class="row">
      <div class="col">당기순이익률</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{100 * returnCompany.ni / returnCompany.rev | number:1}}</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익률</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">{{100 * returnCompany.sni / returnCompany.rev | number:1}}</div>
    </div>
    <div class="row">
      <div class="col">매출액QoQ</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">매출액Yoy</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">영업이익QoQ</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">영업이익Yoy</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">당기순이익QoQ</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">당기순이익YoY</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익QoQ</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익YoY</div>
      <div class="col">2013.12</div>
      <div class="col">2014.03</div>
      <div class="col">2014.06</div>
      <div class="col">2014.09</div>
      <div class="col">2014.12</div>
      <div class="col">2015.03</div>
      <div class="col">2015.06</div>
      <div class="col">2015.09</div>
      <div class="col">2015.12</div>
      <div class="col">2016.03</div>
      <div class="col">2016.06</div>
      <div class="col">2016.09</div>
    </div>
    <hr>
    <h4>4분기합</h4>
    <div class="row header">
      <div class="col"></div>
      <div class="col">2006.12</div>
      <div class="col">2007.12</div>
      <div class="col">2008.12</div>
      <div class="col">2009.12</div>
      <div class="col">2010.12</div>
      <div class="col">2011.12</div>
      <div class="col">2012.12</div>
      <div class="col">2013.12</div>
      <div class="col">2014.12</div>
      <div class="col">2015.12</div>
    </div>
    <div class="row">
      <div class="col">매출액</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">영업이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">법인세차감전이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">당기순이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">영업이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">당기순이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <div class="row">
      <div class="col">지배주주순이익률</div>
      <div class="col">2006</div>
      <div class="col">2007</div>
      <div class="col">2008</div>
      <div class="col">2009</div>
      <div class="col">2010</div>
      <div class="col">2011</div>
      <div class="col">2012</div>
      <div class="col">2013</div>
      <div class="col">2014</div>
      <div class="col">2015</div>
    </div>
    <hr>
    <h4>분기 매출액</h4>
    <div class="row header">
      <div class="col">매출액</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 영업이익</h4>
    <div class="row header">
      <div class="col">영업이익</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 법인세차감전이익</h4>
    <div class="row header">
      <div class="col">법인세차감전이익</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 당기순이익</h4>
    <div class="row header">
      <div class="col">분기 당기순이익</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 지배주주순이익</h4>
    <div class="row header">
      <div class="col">지배주주순이익</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 자산총계</h4>
    <div class="row header">
      <div class="col">자산총계</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 부채총계</h4>
    <div class="row header">
      <div class="col">부채총계</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <hr>
    <h4>분기 자본총계</h4>
    <div class="row header">
      <div class="col">자본총계</div>
      <div class="col">1분기</div>
      <div class="col">2분기</div>
      <div class="col">3분기</div>
      <div class="col">4분기</div>
      <div class="col">합계</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2013</div>
      <div class="col">2013.1Q</div>
      <div class="col">2013.2Q</div>
      <div class="col">2013.3Q</div>
      <div class="col">2013.4Q</div>
      <div class="col">2013.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2014</div>
      <div class="col">2014.1Q</div>
      <div class="col">2014.2Q</div>
      <div class="col">2014.3Q</div>
      <div class="col">2014.4Q</div>
      <div class="col">2014.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2015</div>
      <div class="col">2015.1Q</div>
      <div class="col">2015.2Q</div>
      <div class="col">2015.3Q</div>
      <div class="col">2015.4Q</div>
      <div class="col">2015.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
    <div class="row">
      <div class="col">2016</div>
      <div class="col">2016.1Q</div>
      <div class="col">2016.2Q</div>
      <div class="col">2016.3Q</div>
      <div class="col">2016.4Q</div>
      <div class="col">2016.Total</div>
      <div class="col">1분기yoy</div>
      <div class="col">2분기yoy</div>
      <div class="col">3분기yoy</div>
      <div class="col">4분기yoy</div>
      <div class="col">평균yoy</div>
    </div>
  </ion-content>
</ion-modal-view>
