<ion-view view-title="긁어오기">
  <ion-header-bar class="bar-stable">
    <h1 class="title">주가</h1>
  </ion-header-bar>
  <ion-content>
    <div>크롤링</div>

    <div layout="row">
      <div class="col-50">
        <ionic-datepicker input-obj="datepickerObject" class="item item-input">
          <span class="input-label">날짜</span>
          <input type="text" ng-model="date" readonly>
        </ionic-datepicker>
      </div>
      <div class="col-50">
        <md-button class="md-raised md-block" ng-click="getStockLists()">Submit</md-button>
      </div>
    </div>
    <div class="item item-divider sidebar-divider">
      <span>주가목록</span>
      <span ng-click="openStockPrice()" class="right">더보기</span>
    </div>
    <div class="row header" ng-if="stockList.length>0">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
      <div class="col">가격</div>
      <div class="col">상장주식수</div>
      <div class="col">시가총액</div>
    </div>
    <div class="row" ng-repeat="stock in stockList track by $index" ng-if="stockList.length>0">
      <div class="col">{{stock.company.naverName}}</div>
      <div class="col">{{stock.company.dartName}}</div>
      <div class="col">{{stock.company.stockCode}}</div>
      <div class="col">{{stock.price}}</div>
      <div class="col">{{stock.count}}</div>
      <div class="col">{{}}</div>
    </div>
    <div class="row" ng-if="stockList.length == 0">
      <div>주가가 아직 없습니다.</div>
      <div ng-click="dailyStocks()">주가불러오기</div>
    </div>
    <div class="item item-divider sidebar-divider">
      <span>재무정보</span>
      <span ng-click="openFinance()" class="right">더보기</span>
    </div>
    <div class="row header">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
      <div class="col">매출액</div>
      <div class="col">영업이익</div>
      <div class="col">세전이익</div>
      <div class="col">당기순이익</div>
      <div class="col">지배주주순이익</div>
    </div>
    <div class="row" ng-repeat="item in financeList track by $index" ng-if="financeList">
      <div class="col">{{item.company.naverName}}</div>
      <div class="col">{{item.company.dartName}}</div>
      <div class="col">{{item.company.stockCode}}</div>
      <div class="col">{{item.rev}}</div>
      <div class="col">{{item.oi}}</div>
      <div class="col">{{item.bti}}</div>
      <div class="col">{{item.ni}}</div>
      <div class="col">{{item.sni}}</div>
    </div>
    <div class="row" ng-if="financeList.length == 0">
      <div>Dart 기록이 없습니다.</div>
      <div ng-click="crawlDart()">Dart돌리기</div>
    </div>
  </ion-content>
</ion-view>
