<ion-view view-title="포트폴리오">
  <ion-content>
    <div layout="row">
      <div class="col-50">
        <!-- <i class="icon ion-ios-search-strong"></i><input type="text" ng-model="searchKeyword" placeholder="검색어를 입력해주세요" ng-keydown="searchCompany()"> -->
      </div>
      <div class="col-50"></div>
    </div>
    <div class="row header">
      <div class="col">계좌번호</div>
      <div class="col">보유 종목 수</div>
      <div class="col">보유 주식 수</div>
      <div class="col">평가 금액</div>
      <div class="col">평가 손익</div>
      <div class="col">잔고</div>
    </div>
    <div class="row" ng-model="account_info">
      <div class="col">{{account_info.account_number}}</div>
      <div class="col">{{account_info.count|number}}</div>
      <div class="col">{{account_info.sign_balance_amount|number}}</div>
      <div class="col">{{account_info.evaluation_price|number}}</div>
      <div class="col">{{account_info.evaluation_diff|number}}</div>
      <div class="col">{{account_info.account_balance|number}}</div>
    </div>
    <div class="row header">
      <div class="col">종목명</div>
      <div class="col">종목코드</div>
      <div class="col">보유 주식 수</div>
      <div class="col">구매 주가(1주당)</div>
      <div class="col">현재 주가(1주당)</div>
      <div class="col">총 평가 금액</div>
      <div class="col">총 평가 손익</div>
      <div class="col">수익률</div>
    </div>
    <div class="row" ng-repeat="stock in stock_list">
      <div class="col">{{stock.stock_name}}</div>
      <div class="col">{{stock.stock_code}}</div>
      <div class="col">{{stock.trade_shares|number}}</div>
      <div class="col">{{stock.purchase_price|number}}</div>
      <div class="col">{{stock.evaluation / stock.trade_shares|number}}</div>
      <div class="col">{{stock.evaluation|number}}</div>
      <div class="col">{{stock.eval_return|number}}</div>
      <div class="col">{{stock.return}}</div>
    </div>
  </ion-content>
</ion-view>
