<ion-view view-title="거래 메인">
  <ion-content>
    <div layout="row">
      <div class="search-bar">
        <i class="icon ion-ios-search-strong"></i>
        <form ng-submit="addStock()">
          <input type="text" ng-model="item.stock_code" placeholder="종목명 or 종목코드" />
        </form>
      </div>
    </div>
    <div class="row header">
      <div class="col">종목코드</div>
      <div class="col">종목명(네이버)</div>
      <div class="col">현재가</div>
      <div class="col">PER</div>
      <div class="col">EPS</div>
      <div class="col">수량</div>
      <div class="col">구매가격</div>
      <div class="col">Type</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="stock in stockList" ng-init="stock.order_price=0">
      <div class="col">{{stock.stock_code}}</div>
      <div class="col">
        <ion-spinner ng-hide="stock.stock_name"></ion-spinner>
        {{stock.stock_name}}
      </div>
      <div class="col">
        <ion-spinner ng-hide="stock.price"></ion-spinner>
        {{stock.price|number}}
      </div>
      <div class="col">
        <ion-spinner ng-hide="stock.PER >= 0"></ion-spinner>
        {{stock.PER|number}}
      </div>
      <div class="col">
        <ion-spinner ng-hide="stock.EPS >= 0"></ion-spinner>
        {{stock.EPS|number}}
      </div>
      <div class="col">
        <input type="text" ng-model="stock.amount" placeholder="구매 수량" ng-required />
      </div>
      <div class="col">
        <input type="text" ng-model="stock.order_price" placeholder="구매 가격(현재가: 0)" ng-required />
      </div>
      <div class="col">
        <div class="list">
            <select ng-model="stock.order_type" ng-options="x as x.label for x in order_types" ng-init="stock.order_type=order_types[0]">
            </select>
        </div>
      </div>  
      <div class="col">
        <button class="button button-icon icon-left ion-minus" ng-click="removeStock(stock)">
          제거
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <button class="button button-positive button-block" ng-click="makeOrder()">주문하기</button>
      </div>
      <div class="col">
        <button class="button button-assertive button-block" ng-click="reset()">취소하기</button>
      </div>
    </div>
  </ion-content>
</ion-view>
