<ion-modal-view class="modal-fullscreen">
  <ion-header-bar>
    <h1 class="title">재무정보</h1>
    <div class="buttons">
      <button class="button button-energized" ng-click="closeFinance()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
      <div class="col">매출액</div>
      <div class="col">영업이익</div>
      <div class="col">세전이익</div>
      <div class="col">당기순이익</div>
      <div class="col">지배주주순이익</div>
    </div>
    <div class="row" ng-repeat="item in financeList" ng-if="financeList">
      <div class="col">{{item.company.naverName}}</div>
      <div class="col">{{item.company.dartName}}</div>
      <div class="col">{{item.company.stockCode}}</div>
      <div class="col">{{item.rev}}</div>
      <div class="col">{{item.oi}}</div>
      <div class="col">{{item.bti}}</div>
      <div class="col">{{item.ni}}</div>
      <div class="col">{{item.sni}}</div>
    </div>
    <ion-infinite-scroll
      ng-if="!$parent.end && $parent.financeList"
      on-infinite="$parent.loadMore()"
      distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
