<ion-modal-view class="modal-fullscreen">
  <ion-header-bar>
    <h1 class="title">주가정보</h1>
    <div class="buttons">
      <button class="button button-energized" ng-click="closeStockPrice()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">종목명(네이버)</div>
      <div class="col">종목명(다트)</div>
      <div class="col">종목코드</div>
      <div class="col">가격</div>
      <div class="col">상장주식수</div>
      <div class="col">시가총액</div>
    </div>
    <div class="row" ng-repeat="stock in stockList" ng-if="stockList">
      <div class="col">{{stock.company.naverName}}</div>
      <div class="col">{{stock.company.dartName}}</div>
      <div class="col">{{stock.company.stockCode}}</div>
      <div class="col">{{stock.price}}</div>
      <div class="col">{{stock.count}}</div>
      <div class="col">{{}}</div>
    </div>
    <ion-infinite-scroll
      ng-if="!$parent.end && $parent.stockList"
      on-infinite="$parent.loadMore()"
      distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
