/* Empty. Add your own CSS if you like */
button.ion-minus {
    color:red;
}

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}


.search-bar {
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}